{{ define "main" }}

<!--=================== contact section start ===================-->

<<form name="prova" method="POST" data-netlify="true">
  <p>
    <label>Your Name: <input type="text" name="name" /></label>
  </p>
  <p>
    <label>Your Email: <input type="email" name="email" /></label>
  </p>
  <p>
    <label>Your Role: <select name="role[]" multiple>
      <option value="leader">Leader</option>
      <option value="follower">Follower</option>
    </select></label>
  </p>
  <p>
    <label>Message: <textarea name="message"></textarea></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>


    <div class="row g-4">
      {{ with site.Params.mobile }}
      <div class="col-lg-4">
        <div class="card text-center">
          <a href="tel:{{.}}"><i class="fas fa-user text-primary"></i>{{.}}</a>
        </div>
      </div>
      {{ end }}
      {{ with site.Params.email }}
      <div class="col-lg-4">
        <div class="card text-center">
          <a href="mailto:{{.}}"><i class="fas fa-envelope text-primary"></i>{{.}}</a>
        </div>
      </div>
      {{ end }}
      {{ with site.Params.address }}
      <div class="col-lg-4">
        <div class="card text-center">
          <li>
            <i class="fas fa-map-marker-alt text-primary"></i>{{ .| markdownify}}
          </li>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>



<!--=================== contact section start ===================-->

{{ end }}