{{ define "main" }}

<!--=================== contact section start ===================-->
<form name="formcontatti" method="post" autocomplete="off" action="/conferma" onsubmit="return validateForm()"><input type="hidden" name="form-name" value="formcontatti"><div class="hidden"><label>NON riempire questo spazio se SEI UMANO: <input name="bot-field"></label></div><div><label for="name">Il tuo nome</label>
  <input type="text" name="nome" id="name"></div><div><label for="email">Il tuo indirizzo email</label>
  <input type="email" name="email" id="email"></div><div><label for="message">Messaggio</label>
  <textarea name="messaggio" id="message"></textarea></div><button type="submit" style="width:100%">INVIA</button></form>



<!--=================== contact section start ===================-->

{{ end }}